<article class="about active" data-page="about">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    <p>
      Hello! I'm Aman Virmani, a Machine Learning Engineer fueled by curiosity
      and driven by innovation. My passion lies in crafting intelligent systems
      that seamlessly blend creativity and technology. From building smarter
      robots to designing intuitive AI solutions, I thrive on turning complex
      challenges into elegant, impactful experiences.
    </p>
    <p>
      I specialize in machine learning, computer vision, natural language
      processing, and scalable AI infrastructure. Whether it's training models
      to understand the world, designing systems that optimize performance, or
      automating workflows to unlock new possibilities, I bring a diverse
      toolkit of technical expertise to every project.
    </p>
    <p>
      With a strong foundation in robotics and AI, my work spans the realms of
      advanced computing, intelligent automation, and the future of
      human-computer interaction. I'm always exploring new ideas, tinkering with
      cutting-edge technologies, and pushing boundaries to redefine what's
      possible.
    </p>
    <p>
      Welcome to my digital space—where ideas come to life and the future takes
      shape.
    </p>
  </section>

  {% include sections/components/service.html %} {% comment %} {% include
  sections/components/testimonials.html %} {% endcomment %} {% comment %} {%
  include sections/components/clients.html %} {% endcomment %}
</article>
