<article class="resume" data-page="resume">
  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <div class="timeline-header">
          <h4 class="timeline-company">Osaro</h4>
          <span class="timeline-date">2025 — Present</span>
        </div>
        <span class="timeline-item-title">Software ML Engineer</span>
        <p class="timeline-text">Applying cutting-edge deep learning technology to robotics, delivering smarter automation solutions for e-commerce and beyond.</p>
      </li>

      <li class="timeline-item">
        <div class="timeline-header">
          <h4 class="timeline-company">Miso Robotics</h4>
          <span class="timeline-date">2021 — 2024</span>
        </div>
        <span class="timeline-item-title">ML Engineer</span>
        <p class="timeline-text">
          Designed computer vision and ML bases solutions for flippy robot and cookright systems.
        </p>
      </li>

      <li class="timeline-item">
        <div class="timeline-header">
          <h4 class="timeline-company">University of Maryland</h4>
          <span class="timeline-date">2020 — 2024</span>
        </div>
        <span class="timeline-item-title">Research Assistant (Part-time)</span>
        <p class="timeline-text">
          Published a research paper on
          <a
            href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0300526"
            target="_blank"
          >
            "Interpretable dimensionality reduction and classification of mass
            spectrometry imaging data in a visceral pain model via non-negative
            matrix factorization"
          </a>
        </p>
      </li>
      <li class="timeline-item"></li>
        <div class="timeline-header">
          <h4 class="timeline-company">Samsung R&D Institute India</h4>
          <span class="timeline-date">2017 — 2019</span>
        </div>
        <span class="timeline-item-title">Senior Engineer - Image sensor layout design</span>
        <p class="timeline-text">
          Received the SLSI President Award and SPOT Award for significant team contributions over 12 months.
        </p>
      </li>
    </ol>
  </section>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <div class="timeline-header">
          <h4 class="timeline-company">University of Maryland</h4>
          <span class="timeline-date">2019 — 2023</span>
        </div>
        <span class="timeline-item-title">Masters in Engineering</span>
        <p class="timeline-text">
          Major: Robotics<br />
          Grade: 3.77/4.00
        </p>
      </li>

      <li class="timeline-item">
        <div class="timeline-header">
          <h4 class="timeline-company">University of Delhi</h4>
          <span class="timeline-date">2013 — 2017</span>
        </div>
        <span class="timeline-item-title">Bachelor's in Engineering</span>
        <p class="timeline-text">
          Major: Electronics and Communications<br />
          Grade: 8.22/10.00
        </p>
      </li>
    </ol>
  </section>

  {% include sections/components/skills.html %}
</article>
