<div id="particles-js">
  <div class="header">
	<!-- Navigation Bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Navbar Header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Abhiram Eswaran</a>
      </div>
      <!-- END Navbar Header -->
      <!-- List out the nav links, will be toggled if necessary -->
      <div class="collapse navbar-collapse navbar-right" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#about"><i class="fa fa-info-circle"></i> About</a></li>
          <li><a href="#portfolio"><i class="fa fa-folder"></i> Portfolio</a></li>
          <li><a href="#contact"><i class="fa fa-at"></i> Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- END nav links -->
  </nav>
  <!-- END Navigation Bar -->

      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:aman.virmani26@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <!--<a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/mauriciourraco7"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/mauricio.urraco"><i class="icon fa fa-facebook" aria-hidden="true"></i></a> -->
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/amanvirmani26"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/AmanVirmani"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
