<header class="main-header">
    <div class="navigation-container">
        <div class="main-logo">
            <a href="http://www.piedpiper.com">
                <img class="logo_image" src="http://www.piedpiper.com/app/themes/joystick-v27/images/logo.png" alt="Main Logo">
                <img class="logo_mobile" src="http://www.piedpiper.com/app/themes/joystick-v27/images/logo_mobile.png" alt="Main Logo">
            </a>
        </div>
        <div class="main-navigation">
			<div class="menu-siliconvalley-s6-container"><ul id="menu-siliconvalley-s6" class="menu"><li id="menu-item-1260" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-186 current_page_item menu-item-1260"><a href="http://www.piedpiper.com/">Home</a></li>
<li id="menu-item-1545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1545"><a href="http://www.piedpiper.com/internet-heritage/">Internet Heritage</a></li>
<li id="menu-item-1262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1262"><a href="http://www.piedpiper.com/company-news/">Company News</a></li>
</ul></div>        </div>
    </div>
</header>
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:aman.virmani26@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <!--<a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/mauriciourraco7"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/mauricio.urraco"><i class="icon fa fa-facebook" aria-hidden="true"></i></a> -->
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/amanvirmani26"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/AmanVirmani"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
