<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
 	<link rel="stylesheet" href="https://d1qmdf3vop2l07.cloudfront.net/yellow-sage.cloudvent.net/compressed/_min_/67115cd4fff37b34cd76d8f933ccf611.css" data-cms-original-href="/css/style.css" />

</head>
	<header class="header">

	<div class="wrap">

		
		<a href="/" class="header__title cc-active">
			Personal
		</a>
		

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<ul class="menu__list">
					
					<li class="menu__list__item">
						<a href="/" class="menu__list__item__link cc-active">Projects</a>
					</li>
					
					<li class="menu__list__item">
						<a href="/blog/" class="menu__list__item__link">Blog</a>
					</li>
					
					<li class="menu__list__item">
						<a href="/about" class="menu__list__item__link">About</a>
					</li>
					
					<li class="menu__list__item">
						<a href="/contact" class="menu__list__item__link">Contact</a>
					</li>
					
				</ul>
			</div>
		</div>

	</div>

</header>
