<header class="main-header">
  <div class="navigation-container">
    <div class="main-logo">
      <!--brAman Virmani><span style="bold">Aman Virmani</span-->
      <a href="{{ site.base }}index.html">
        <!--img class="logo_image" src="images/fav.png" alt="Main Logo" width="102" height="192">
                    <img class="logo_mobile" src="images/fav.png" alt="Main Logo" width="102" height="192"-->
      </a>
    </div>
    <div class="main-navigation">
      <div class="menu-siliconvalley-s6-container">
        <ul id="menu-siliconvalley-s6" class="menu">
          {% assign home_current_page = "" %}
          {% assign project_current_page = "" %}
          {% assign cv_current_page = "" %}
          {% if page.title == "Home" %}
          {% assign home_current_page = "current_page_item" %}
          {% elsif page.title == "Projects" %}
          {% assign project_current_page = "current_page_item" %}
          {% elsif page.title == "CV" %}
          {% assign cv_current_page = "current_page_item" %}
          {% endif %}
          <li id="menu-item-1260"
            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-186 {{ home_current_page }} menu-item-1260">
            <a href="{{ site.base }}index.html">Home</a>
          </li>
          <li id="menu-item-1545"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1545 {{ project_current_page }}">
            <a href="{{ site.base }}projects.html">Projects</a>
          </li>
          <li id="menu-item-1262"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1262 {{ cv_current_page }}"><a
              href="{{ site.base }}cv.html">CV</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>