<section class="service">
  <h3 class="h3 service-title">What i'm doing</h3>

  <ul class="service-list">
    <li class="service-item">
      <div class="service-icon-box">
        <img
          src="{{ '/assets/images/icon-design.svg' | relative_url }}"
          alt="design icon"
          width="40"
        />
      </div>

      <div class="service-content-box">
        <h4 class="h4 service-item-title">Machine Learning</h4>
        <p class="service-item-text">
          Transforming raw data into intelligent insights through cutting-edge algorithms and deep learning magic.
        </p>
      </div>
    </li>

    <li class="service-item">
      <div class="service-icon-box">
        <img
          src="{{ '/assets/images/icon-dev.svg' | relative_url }}"
          alt="Web development icon"
          width="40"
        />
      </div>

      <div class="service-content-box">
        <h4 class="h4 service-item-title">Computer Vision</h4>
        <p class="service-item-text">
          Teaching machines to see, understand, and interpret the visual world like never before.
        </p>
      </div>
    </li>

    <li class="service-item">
      <div class="service-icon-box">
        <img
          src="{{ '/assets/images/icon-app.svg' | relative_url }}"
          alt="mobile app icon"
          width="40"
        />
      </div>

      <div class="service-content-box">
        <h4 class="h4 service-item-title">Artificial Intelligence</h4>
        <p class="service-item-text">
          Crafting intelligent systems that learn, adapt, and solve complex real-world challenges.
        </p>
      </div>
    </li>

    <li class="service-item">
      <div class="service-icon-box">
        <img
          src="{{ '/assets/images/icon-photo.svg' | relative_url }}"
          alt="camera icon"
          width="40"
        />
      </div>

      <div class="service-content-box">
        <h4 class="h4 service-item-title">Robotics</h4>
        <p class="service-item-text">
          Building smart robots that see, think, and act autonomously.
        </p>
      </div>
    </li>
  </ul>
</section> 