<section class="testimonials">
  <h3 class="h3 testimonials-title">Testimonials</h3>

  <ul class="testimonials-list has-scrollbar">
    <li class="testimonials-item">
      <div class="content-card" data-testimonials-item>
        <figure class="testimonials-avatar-box">
          <img
            src="{{ '/assets/images/avatar-1.png' | relative_url }}"
            alt="Daniel lewis"
            width="60"
            data-testimonials-avatar
          />
        </figure>

        <h4 class="h4 testimonials-item-title" data-testimonials-title>
          Daniel lewis
        </h4>

        <div class="testimonials-text" data-testimonials-text>
          <p>
            Richard was hired to create a corporate identity. We were very pleased
            with the work done. She has a lot of experience and is very concerned
            about the needs of client.
          </p>
        </div>
      </div>
    </li>
    <!-- Add more testimonial items as needed -->
  </ul>
</section> 